/* Estilos básicos */
html,
body {
	margin: 0;
	padding: 0;
	overflow: hidden; /* Deshabilita scroll por defecto */
	height: 100vh;
	width: 100vw;
	align-items: center;
	justify-content: center;
}

body {
	position: relative;
	font-family: Arial, sans-serif;
}

/* Video fondo ocupa toda la pantalla */
video#bg-video {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}

/* Menu fijo arriba */
nav {
	position: fixed;
	top: -180px;
	left: 0;
	width: 100%;
	height: 180px;
	background: rgba(0, 0, 0, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 20px;
	box-sizing: border-box;
	z-index: 10;
}

/* Logo */
#logo {
	width: 120px;
	height: auto;
	cursor: pointer;
	transition: width 0.3s ease;
}

.links {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.links a {
	margin: 10px;
	text-decoration: none;
	color: white;
}

.links a:hover {
	color: blue;
}

.page-2 {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 95%;
	height: 95%;
	background: rgba(255, 255, 255, 0.7);
	display: flex;
	visibility: hidden;
	opacity: 0;
	align-items: center;
	justify-content: center;
	z-index: 10;
}

.page-2 .content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.page-2 .jump {
	height: 90%;
	width: 30%;
	border: 2px solid red;
	margin: 15px;
}

.page-2 p {
	width: 70%;
	text-align: center;
	margin: 5px 15px;
	padding: 0;
}
